#canvas{
    display: block;
}
.actions{
    position: fixed;
    left:20px;
    top:10px;
    padding: 20px;
}
.actions>svg{
    margin: 0 10px;
    transition: all 0.3s;
}

.actions>svg.active{
    transform: scale(1.2);
    fill: red;
}

body{
    margin:0;
}
.icon {
    width: 1.8em; height: 1.8em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.colors{
    position: fixed;
    top:60px;
    left:6px;
}

.colors>ol,li{
    list-style: none;
}

.colors li{
    height: 30px;
    width: 30px;
    box-shadow: 0 0 2px #aaa;
    border-radius: 50%;
    margin: 10px 0;
    transition: all 0.3s;
}

.colors li.active{
    box-shadow: 0 0 3px #aaa;
    transform: scale(1.2);
}

#red{
    background: red;
}

#green{
    background: green;
}

#blue{
    background: blue;
}
