#canvas{
    background: lightgrey;
    display: block;
}
.actions{
    position: fixed;
    left:0;
    bottom:0;
}

.actions>button{
    height: 60px;
    width: 80px;
    border-radius: 10px;
    background: #1a1b1c;
    color:white;
    border:1px solid white;
}

.actions>#brush{
    display: none;
}

.actions.eraserEnable >#brush{
    display: inline-block;
}
.actions.eraserEnable >#eraser{
    display: none;
}
body{
    margin:0;
}
